body {
    background-color: wheat;
    font-family: 'Poppins', sans-serif;
}
.form {
    background-color: white;
    width: 80vw;
    margin: 60px auto;
    padding: 30px 50px;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
    border-radius: 12px;
}
.form h1 {
    color: rgb(25, 0, 255);
}

.button {
    padding: 10px 30px;
    font-size: 18px;
}